html
    head
    body
        form(method='post', action='/create')
            div
                label(for='userID') UserID: 
                input(id='userID', name='userID')
            div
                label(for='first') First name: 
                input(id='first', name='first')
            div
                label(for='last') Last name: 
                input(id='last', name='last')
            div
                label(for='email') Email: 
                input(id='email', name='email')
            div
                label(for='age') Age: 
                input(id='age', name='age')
            div 
                input(type='submit') 